<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>uNexus OS</vendor>
  <vendor_url>https://github.com/PedroVitor-Dev/uNexus-OS</vendor_url>

  <action id="io.github.PedroVitorDev.uNexusDriverManager.apply">
    <description>Install recommended uNexus GPU drivers</description>
    <message>Authentication is required to install GPU driver packages.</message>
    <icon_name>unexus-shell</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/unexusctl</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">driver-apply</annotate>
  </action>
</policyconfig>
